<div class="h-screen flex flex-col">
  <app-toolbar (menuToggle)="toggleMenu()"></app-toolbar>
  
  <div class="flex flex-1 relative">
    <!-- Drawer Sidebar -->
    <div 
      class="bg-white border-r border-gray-200 w-64 transition-all duration-300 ease-in-out"
      [class.hidden]="!menuVisible"
      [class.-ml-64]="!menuVisible">
      <app-sidenav></app-sidenav>
    </div>
    
    <!-- Main Content -->
    <main class="flex-1 overflow-y-auto bg-gray-50">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
